h1{
    color: red;
    text-align:center;
body {
  background-image: url("https://cloud.githubusercontent.com/assets/8796345/4615915/78c6f09e-52ee-11e4-9dd1-4b27dd49c050.JPG");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
