h1{
    color: red;
    text-align:center;
body {
	background-image: url("https://cloud.githubusercontent.com/assets/8796345/4826509/171f7e76-5f71-11e4-9586-0bf2cf007581.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #665544;
	padding: 20px;}
